apiVersion: apps/v1
kind: Deployment
metadata:
  name: icecreamflavorrecommendation-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: icecreamflavorrecommendation-app
  template:
    metadata:
      annotations:
          checksum/configmap: ""
      labels:
        app: icecreamflavorrecommendation-app
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        volumeMounts:
        - name: icecreamflavorrecommendation-app
          mountPath: /usr/share/nginx/html/
      volumes:
      - name: icecreamflavorrecommendation-app
        configMap:
          name: icecreamflavorrecommendation-app
